@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face {
  font-family: "burtons";
  src: url('../public/fonts/Burtons.otf');
}


@font-face {
  font-family: "mova";
  src: url('../public/fonts/Mova.otf');
}

html {
  scroll-behavior: smooth;
}